<html>
<head>
    <title>Travel Blog</title>
</head>
<body>
    <h2>Travel Blog</h2>
   @Html.ActionLink("Places", "Index", "Places")
    @Html.ActionLink("People", "Index", "Peoples")
    @Html.ActionLink("Experiences", "Index", "Experiences")
</body>
</html>