@model IEnumerable<TravelBlog.Models.Place>

<html>
<head>
    <title>Travel Blog</title>
</head>
<body>
    <h2>Travel Blog Places</h2>
    <h4>Places</h4>
    <ul>
        @foreach (var listPlace in Model)
        {
            <li>@Html.DisplayFor(modelPlace => listPlace.City) | @Html.ActionLink("Details", "Details", new { id = listPlace.PlaceId })</li>
        }
    </ul>
</body>
</html>